@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "League Spartan", sans-serif;
  height: 100vh;
  font-size: 15px;
  background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.very-dark-magenta {
  color: hsl(300, 43%, 22%);
}
.dark-grayish-magenta {
  color: hsl(303, 10%, 53%);
}
.light-grayish-magenta {
  color: hsl(300, 24%, 96%);
}
.soft-pink {
  color: hsl(333, 80%, 67%);
}
.outer-container {
  padding: 10% 5%;
}
.main-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0 10%;
}
.about {
  text-align: center;
  font-weight: 400;
  padding: 1.6rem 0.1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.section {
  margin-top: 10%;
}
.rating-card {
  background-color: hsl(300, 24%, 96%);
  margin-top: 4%;
  padding: 2%;
  text-align: center;
  border-radius: 0.5rem;
}
.stars > * {
  margin-left: 0.3rem;
}
.rating-card > * {
  margin: 3% 0;
}
.rated-by {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
.review-card {
  background-color: hsl(300, 43%, 22%);
  margin-top: 4%;
  padding: 3rem;
  border-radius: 0.5rem;
}
.review-card > * {
  margin-left: auto;
  margin-right: auto;
}
.reviewer-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}
.reviewer-info img {
  border-radius: 50%;
  width: 2rem;
}
.review,
.name {
  color: hsl(300, 24%, 96%);
}
.review {
  font-weight: 400;
  margin-top: 1rem;
  line-height: 1.5rem;
}
.name {
  font-weight: 700;
  font-size: 1rem;
  max-width: max-content;
}
.buyer-type {
  color: hsl(333, 80%, 67%);
  opacity: 80%;
  font-weight: 400;
}

@media (min-width: 900px) {
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
  .outer-container {
    display: flex;
    padding: 2%;
    max-width: 65rem;
    margin: auto;
    flex-wrap: wrap;
  }
  .top-container {
    display: flex;
    column-gap: 5rem;
  }
  .main-heading {
    padding: 0;
    padding-right: 10rem;
  }
  .rating-section > .rating-card:nth-child(2n) {
    margin-left: 4rem;
  }
  .rating-section > .rating-card:nth-child(3n) {
    margin-left: 8rem;
  }
  .about,
  .main-heading {
    text-align: left;
  }
  .rating-section {
    flex: 0 1 100%;
  }
  .rating-card {
    width: max-content;
    display: flex;
    column-gap: 2rem;
  }

  .review-section {
    margin-top: 5rem;
    display: flex;
    column-gap: 2rem;
  }
  .review-card {
    height: max-content;
  }
  .review-section > .review-card:nth-child(2n) {
    margin-top: 3.5rem;
  }
  .review-section > .review-card:nth-child(3n) {
    margin-top: 4.5rem;
  }
}
